TPR-Node-RED-Flow
[{"id":"ec62f290.c1085","type":"ibmiot in","z":"40085924.36ec38","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"Bean","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":188,"y":159,"wires":[["e9addfd5.b25ba","b533f0b4.1905d"]]},{"id":"e9addfd5.b25ba","type":"debug","z":"40085924.36ec38","name":"","active":false,"console":"false","complete":"false","x":372,"y":157,"wires":[]},{"id":"78a3d2fe.8dc4cc","type":"switch","z":"40085924.36ec38","name":"TPR-Level","property":"payload.d.tprlevel","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":352,"y":338,"wires":[["d3be688d.f9b608","49a01d0f.7e7a24","5227541b.21360c"],["49a01d0f.7e7a24","5a83c0c9.6259b","3028f0e9.6e2ba"],[]]},{"id":"d3be688d.f9b608","type":"debug","z":"40085924.36ec38","name":"low","active":false,"console":"false","complete":"payload","x":617,"y":260,"wires":[]},{"id":"b533f0b4.1905d","type":"switch","z":"40085924.36ec38","name":"TPR-Move","property":"payload.d.tprmove","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":365.5,"y":269,"wires":[["b3cc07aa.d4b5d8","7d5f1103.7db1d"],["78a3d2fe.8dc4cc"]]},{"id":"b3cc07aa.d4b5d8","type":"debug","z":"40085924.36ec38","name":"Moving","active":true,"console":"false","complete":"payload","x":443.5,"y":223,"wires":[]},{"id":"7d5f1103.7db1d","type":"freeboard","z":"40085924.36ec38","name":"TPR","x":537,"y":418,"wires":[]},{"id":"49a01d0f.7e7a24","type":"delay","z":"40085924.36ec38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368,"y":418,"wires":[["7d5f1103.7db1d","86c10787.4e2d68"]]},{"id":"86c10787.4e2d68","type":"debug","z":"40085924.36ec38","name":"FREEBOARD","active":false,"console":"false","complete":"payload","x":503.5,"y":486,"wires":[]},{"id":"ae525e24.81094","type":"function","z":"40085924.36ec38","name":"Create Twitter message","func":"msg.payload = \"@markusvankempen TPR LOW Warning \"+\n\"http://pic.twitter.com/ymCSVcIi7r Chart\"\nmsg.media = \"http://dingo.care2.com/pictures/greenliving/uploads/2012/05/Toilet-paper-roll.jpg\";\nmsg.payload = \"D @markusvankempen TPR Low Warning \"+msg.media;\nreturn msg;","outputs":1,"noerr":0,"x":898.5,"y":458,"wires":[["3dfdf3be.57715c","ed140175.880b9"]]},{"id":"db805be.ea735a8","type":"inject","z":"40085924.36ec38","name":"Tweet & Email","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":857.5,"y":400,"wires":[["ae525e24.81094","cd222345.348dc"]]},{"id":"3dfdf3be.57715c","type":"twitter out","z":"40085924.36ec38","twitter":"","name":"Twitter","x":833.5,"y":517,"wires":[]},{"id":"ed140175.880b9","type":"debug","z":"40085924.36ec38","name":"TWITTER","active":false,"console":"false","complete":"true","x":985.5,"y":519,"wires":[]},{"id":"55427745.b78a68","type":"e-mail","z":"40085924.36ec38","server":"smtp.gmail.com","port":"465","name":"","dname":"SendToGMail","x":869.5,"y":622,"wires":[]},{"id":"cd222345.348dc","type":"function","z":"40085924.36ec38","name":"email","func":"msg.payload=\"Hello Markus\";\nmsg.topic=\"We have TPR Low Warning\";\nmsg.payload = \"<img src=http://dingo.care2.com/pictures/greenliving/uploads/2012/05/Toilet-paper-roll.jpg></a>\";\n\nmsg.attachment = \"http://dingo.care2.com/pictures/greenliving/uploads/2012/05/Toilet-paper-roll.jpg>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":834.6073608398438,"y":562.7142944335938,"wires":[["55427745.b78a68","a2ffc299.139e7"]]},{"id":"a2ffc299.139e7","type":"debug","z":"40085924.36ec38","name":"EMAIL","active":true,"console":"false","complete":"true","x":968.5,"y":626,"wires":[]},{"id":"5227541b.21360c","type":"delay","z":"40085924.36ec38","name":"RedandTwitt","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":622.5,"y":300,"wires":[["ae525e24.81094"]]},{"id":"5a83c0c9.6259b","type":"delay","z":"40085924.36ec38","name":"Green","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":609.5,"y":337,"wires":[[]]},{"id":"38f4cce1.8d73b4","type":"inject","z":"40085924.36ec38","name":"TPRLow","topic":"","payload":"{ \"d\": { \"eventtype\": \"tprlevel\", \"status\": \"TPR level LOW\", \"x\": \"-0.19550\", \"y\": \"0.58650\", \"z\": \"-0.75072\", \"temp\": 19, \"led\": 50, \"tprmove\": 0, \"tprlevel\": 0, \"tprleveltxt\": \"TPR level LOW\", \"tprmovetxt\": \"TPR Not In Use\", \"tprlevelimg\":\"http://i0.wp.com/beckyjmiller.com/wp-content/uploads/2015/11/Empty-Toilet-Paper-Roll.jpg?fit=620%2C387\", \"deviceName\": \"TpROLL\", \"deviceIP\": \"9.80.208.21\", \"lat\": 43.818442, \"lng\": -79.333965, \"ts\": 1465191891908, \"sine\": 97.92641007834484, \"cos\": 20.25878103854827, \"Desc\": \"TPRBean\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":169.5,"y":314,"wires":[["b533f0b4.1905d"]]},{"id":"209bd84d.69eaf8","type":"inject","z":"40085924.36ec38","name":"TPRGood","topic":"","payload":"{ \"d\": { \"eventtype\": \"tprlevel\", \"status\": \"TPR level GOOD\", \"x\": \"-0.19550\", \"y\": \"0.58650\", \"z\": \"-0.75072\", \"temp\": 19, \"led\": 50, \"tprmove\": 0, \"tprlevel\": 1, \"tprleveltxt\": \"TPR level GOOD\", \"tprmovetxt\": \"TPR is not in use\", \"tprlevelimg\": \"http://2.imimg.com/data2/IJ/YL/MY-3920708/toilet-paper-rolls-250x250.jpg\", \"deviceName\": \"TpROLL\", \"deviceIP\": \"9.80.208.21\", \"lat\": 43.818442, \"lng\": -79.333965, \"ts\": 1465191891908, \"sine\": 97.92641007834484, \"cos\": 20.25878103854827, \"Desc\": \"TPRBean\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":165.5,"y":349,"wires":[["b533f0b4.1905d"]]},{"id":"b4ba9b61.3e3ef8","type":"inject","z":"40085924.36ec38","name":"TPRActive","topic":"","payload":"{ \"d\": { \"eventtype\": \"tprlevel\", \"status\": \"TPR level GOOD\", \"x\": \"-0.19550\", \"y\": \"0.58650\", \"z\": \"-0.75072\", \"temp\": 19, \"led\": 50, \"tprmove\": 1, \"tprlevel\": 1, \"tprleveltxt\": \"TPR level GOOD\", \"tprmovetxt\": \"TPR ACTIVE\", \"tprlevelimg\": \"http://2.imimg.com/data2/IJ/YL/MY-3920708/toilet-paper-rolls-250x250.jpg1\", \"deviceName\": \"TpROLL\", \"deviceIP\": \"9.80.208.21\", \"lat\": 43.818442, \"lng\": -79.333965, \"ts\": 1465191891908, \"sine\": 97.92641007834484, \"cos\": 20.25878103854827, \"Desc\": \"TPRBean\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":171.5,"y":277,"wires":[["b533f0b4.1905d"]]},{"id":"3028f0e9.6e2ba","type":"debug","z":"40085924.36ec38","name":"GOOD","active":false,"console":"false","complete":"payload","x":611.5,"y":374,"wires":[]}]
