WatsonFlows/NLC.flow
[{"id":"c35b8587.42ccf8","type":"watson-natural-language-classifier","z":"3b6d21c9.8e34be","name":"Train","mode":"create","language":"en","classifier":"","x":582,"y":212,"wires":[["7a229cc2.85c464"]]},{"id":"e1cb8aae.d8ecf8","type":"inject","z":"3b6d21c9.8e34be","name":"","topic":"","payload":"Create","payloadType":"str","repeat":"","crontab":"","once":false,"x":178,"y":207,"wires":[["def9ed01.f8552"]]},{"id":"7a229cc2.85c464","type":"debug","z":"3b6d21c9.8e34be","name":"","active":true,"console":"false","complete":"false","x":855,"y":210,"wires":[]},{"id":"b1cb5b52.349f28","type":"inject","z":"3b6d21c9.8e34be","name":"","topic":"","payload":"Get List","payloadType":"str","repeat":"","crontab":"","once":false,"x":191,"y":278,"wires":[["ff51a11e.31f13"]]},{"id":"ff51a11e.31f13","type":"watson-natural-language-classifier","z":"3b6d21c9.8e34be","name":"List","mode":"list","language":"en","classifier":"","x":568,"y":274,"wires":[["641e4bd8.662d84"]]},{"id":"641e4bd8.662d84","type":"debug","z":"3b6d21c9.8e34be","name":"","active":true,"console":"false","complete":"false","x":844,"y":278,"wires":[]},{"id":"def9ed01.f8552","type":"dropbox","z":"3b6d21c9.8e34be","dropbox":"","filename":"/nodemvk/tpr.csv","name":"","x":363,"y":208,"wires":[["c35b8587.42ccf8"]]},{"id":"97c1974e.23e318","type":"watson-natural-language-classifier","z":"3b6d21c9.8e34be","name":"Classify","mode":"classify","language":"en","classifier":"2374f9x69-nlc-535","x":559,"y":350,"wires":[["b592103.72cabf"]]},{"id":"241fe8cc.050558","type":"inject","z":"3b6d21c9.8e34be","name":"","topic":"","payload":"What is the TRP level","payloadType":"str","repeat":"","crontab":"","once":false,"x":235,"y":337,"wires":[["97c1974e.23e318","b592103.72cabf"]]},{"id":"b592103.72cabf","type":"debug","z":"3b6d21c9.8e34be","name":"","active":true,"console":"false","complete":"false","x":753,"y":411,"wires":[]},{"id":"118ef799.7972c8","type":"inject","z":"3b6d21c9.8e34be","name":"","topic":"","payload":"Is the TRP active","payloadType":"str","repeat":"","crontab":"","once":false,"x":215,"y":372,"wires":[["97c1974e.23e318"]]},{"id":"1791aa20.c4e566","type":"inject","z":"3b6d21c9.8e34be","name":"","topic":"","payload":"3a84dfx64-nlc-6728","payloadType":"str","repeat":"","crontab":"","once":false,"x":225,"y":467,"wires":[["112e940f.ea2a1c"]]},{"id":"112e940f.ea2a1c","type":"watson-natural-language-classifier","z":"3b6d21c9.8e34be","name":"Remove","mode":"remove","language":"en","classifier":"","x":553,"y":473,"wires":[["f73f3dfe.bbe03"]]},{"id":"f73f3dfe.bbe03","type":"debug","z":"3b6d21c9.8e34be","name":"","active":true,"console":"false","complete":"false","x":830,"y":469,"wires":[]}]
