WatsonFlows/StoT.flow
[{"id":"c6daea99.36d308","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"3ec9fdc8.4cd1d2","type":"inject","z":"9cce1980.944668","name":"Level","topic":"","payload":"Watson what is the TPR level.","payloadType":"str","repeat":"","crontab":"","once":false,"x":139.09092712402344,"y":188,"wires":[["e89e1ccc.2fcdf","49e7fa8d.35dec4"]]},{"id":"5a178bb1.fad744","type":"websocket out","z":"9cce1980.944668","name":"","server":"c6daea99.36d308","client":"","x":1026.0908813476562,"y":188,"wires":[]},{"id":"91967926.28fdb8","type":"function","z":"9cce1980.944668","name":"","func":"msg.payload = msg.speech;\nmsg.payload.extra = \"Markus\";\nreturn msg;","outputs":1,"noerr":0,"x":604.8181762695312,"y":211.81814575195312,"wires":[["5a178bb1.fad744","af9f170e.ac3e58"]]},{"id":"af9f170e.ac3e58","type":"debug","z":"9cce1980.944668","name":"AudioOut","active":false,"console":"false","complete":"true","x":770,"y":149.272705078125,"wires":[]},{"id":"9e8f189e.7d8e38","type":"http in","z":"9cce1980.944668","name":"Speaking Input","url":"/audio","method":"get","swaggerDoc":"","x":145.99998474121094,"y":92.80807256698608,"wires":[["e65406ce.a2aa08","cce2555e.dd40f8"]]},{"id":"8c1303a7.6e62e","type":"http response","z":"9cce1980.944668","name":"","x":745.6565628051758,"y":81.8585877418518,"wires":[]},{"id":"c9b68c42.638c3","type":"template","z":"9cce1980.944668","name":"WebSite","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\nvar myevent=\"\";\n\n    $(document).ready(function(){\n        console.log(\"Watson Websocket start : \"+myevent); \n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Watson talking events. \\n Event: '+myevent )\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Watson waiting for audio...')\n          //window.location.reload();\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n          window.location.reload();\n          \n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message: \", evt.data.extra); \n         console.log(\"Websocket typeof = \"+typeof evt.data); \n         if (typeof evt.data == \"string\")\n         {myevent = evt.data}else{\n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();}\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting... to ws/audio</div>\n  <audio id=\"output\"></audio><br>\n  <img src=\"https://avatars0.githubusercontent.com/u/9221727?v=3&s=200\"></a>\n</body>\n</html>","x":505.99998474121094,"y":78.91917538642883,"wires":[["8c1303a7.6e62e"]]},{"id":"e65406ce.a2aa08","type":"debug","z":"9cce1980.944668","name":"DEBUG IN","active":false,"console":"false","complete":"true","x":419.18182373046875,"y":130.22222900390625,"wires":[]},{"id":"cce2555e.dd40f8","type":"function","z":"9cce1980.944668","name":"Add more infos","func":"msg.mvk = global.get(\"foo\");  \nmsg.mvk = context.global.wtext;\nreturn msg;","outputs":1,"noerr":0,"x":345.51515197753906,"y":76.99999189376831,"wires":[["c9b68c42.638c3"]]},{"id":"3b80658e.3a2eda","type":"ibmiot in","z":"9cce1980.944668","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IOTSPEECH","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":154,"y":808,"wires":[["96575395.0cc34","e6e27b83.64d598"]]},{"id":"96575395.0cc34","type":"debug","z":"9cce1980.944668","name":"ioTInput","active":true,"console":"false","complete":"payload","x":199,"y":865,"wires":[]},{"id":"e6e27b83.64d598","type":"function","z":"9cce1980.944668","name":"FormatWatson","func":"msg.payload = msg.payload.value;\nmsg.extra = \"Markus\";\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":862,"wires":[["4946ecbf.674ea4"]]},{"id":"c04e31a5.0677a","type":"watson-translate","z":"9cce1980.944668","name":"Eng-French","srclang":"en","destlang":"fr","domain":"news","x":752,"y":577,"wires":[["b0a25554.7d8218","d518b7ba.811178"]]},{"id":"b0a25554.7d8218","type":"debug","z":"9cce1980.944668","name":"Translation","active":false,"console":"false","complete":"payload","x":941.5,"y":573,"wires":[]},{"id":"d518b7ba.811178","type":"watson-text-to-speech","z":"9cce1980.944668","name":"Text to Speech-French","lang":"french","voice":"fr-FR_ReneeVoice","format":"audio/wav","x":874.5,"y":632,"wires":[[]]},{"id":"3f1b95df.4749ba","type":"switch","z":"9cce1980.944668","name":"TPRActive","property":"payload.d.tprmove","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":342.5,"y":445,"wires":[["fa2947d7.4a0c68"],["2ecf3702.24f208"]]},{"id":"e34e0cee.6dc2","type":"switch","z":"9cce1980.944668","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"level","vt":"str"},{"t":"else"},{"t":"cont","v":"move","vt":"str"}],"checkall":"true","outputs":3,"x":138,"y":619,"wires":[["3f638de8.149ab2"],["b14977fd.204138"],["dcc3523c.1a38d"]]},{"id":"3f638de8.149ab2","type":"function","z":"9cce1980.944668","name":"TPRLevel","func":"msg.payload =context.global.tprleveltxt;\nmsg.extra = \"Markus\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":581,"wires":[["49e7fa8d.35dec4","b9b8f9ea.494268"]]},{"id":"b8af2238.ea6fa","type":"inject","z":"9cce1980.944668","name":"TPRLow","topic":"","payload":"{ \"d\": { \"eventtype\": \"tprlevel\", \"status\": \"TPR level LOW\", \"x\": \"-0.19550\", \"y\": \"0.58650\", \"z\": \"-0.75072\", \"temp\": 19, \"led\": 50, \"tprmove\": 0, \"tprlevel\": 0, \"tprleveltxt\": \"TPR level LOW\", \"tprmovetxt\": \"TPR Not In Use\", \"tprlevelimg\": \"http://2.imimg.com/data2/IJ/YL/MY-3920708/toilet-paper-rolls-250x250.jpg\", \"deviceName\": \"TpROLL\", \"deviceIP\": \"9.80.208.21\", \"lat\": 43.818442, \"lng\": -79.333965, \"ts\": 1465191891908, \"sine\": 97.92641007834484, \"cos\": 20.25878103854827, \"Desc\": \"TPRBean\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":115,"y":454,"wires":[["79cebec.c9f254"]]},{"id":"e2746032.a4fb9","type":"comment","z":"9cce1980.944668","name":"Input","info":"","x":76.5,"y":325,"wires":[]},{"id":"dcc3523c.1a38d","type":"function","z":"9cce1980.944668","name":"TPRMove","func":"msg.payload =context.global.tprmovetxt;\nmsg.extra = \"Markus\";\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":637,"wires":[["49e7fa8d.35dec4","b9b8f9ea.494268"]]},{"id":"3fed71f8.483ffe","type":"inject","z":"9cce1980.944668","name":"TPRGood","topic":"","payload":"{ \"d\": { \"eventtype\": \"tprlevel\", \"status\": \"TPR level GOOD\", \"x\": \"-0.19550\", \"y\": \"0.58650\", \"z\": \"-0.75072\", \"temp\": 19, \"led\": 50, \"tprmove\": 0, \"tprlevel\": 1, \"tprleveltxt\": \"TPR level GOOD\", \"tprmovetxt\": \"TPR is not in use\", \"tprlevelimg\": \"http://2.imimg.com/data2/IJ/YL/MY-3920708/toilet-paper-rolls-250x250.jpg\", \"deviceName\": \"TpROLL\", \"deviceIP\": \"9.80.208.21\", \"lat\": 43.818442, \"lng\": -79.333965, \"ts\": 1465191891908, \"sine\": 97.92641007834484, \"cos\": 20.25878103854827, \"Desc\": \"TPRBean\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":111,"y":489,"wires":[["79cebec.c9f254"]]},{"id":"3d110a78.c452b6","type":"ibmiot in","z":"9cce1980.944668","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"Bean","eventType":"+","commandType":"","format":"json","name":"IBM IoT - DISABLED","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":true,"x":120,"y":375,"wires":[["79cebec.c9f254","d7dfa672.a6b4b8"]]},{"id":"e89e1ccc.2fcdf","type":"function","z":"9cce1980.944668","name":"Setup","func":"context.global.tprleveltxt  = \"\";\ncontext.global.tprmovetxt  = \"\";\n\n","outputs":1,"noerr":0,"x":176,"y":147,"wires":[[]]},{"id":"49e7fa8d.35dec4","type":"watson-text-to-speech","z":"9cce1980.944668","name":"","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":430.5,"y":190,"wires":[["91967926.28fdb8"]]},{"id":"fa2947d7.4a0c68","type":"function","z":"9cce1980.944668","name":"SetTPRActive","func":"\nmsg.payload = msg.payload.d.tprmovetxt;\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":415,"wires":[["60a33e18.1941f"]]},{"id":"55ba0084.6752d","type":"inject","z":"9cce1980.944668","name":"TPRActive","topic":"","payload":"{ \"d\": { \"eventtype\": \"tprlevel\", \"status\": \"TPR level GOOD\", \"x\": \"-0.19550\", \"y\": \"0.58650\", \"z\": \"-0.75072\", \"temp\": 19, \"led\": 50, \"tprmove\": 1, \"tprlevel\": 1, \"tprleveltxt\": \"TPR level GOOD\", \"tprmovetxt\": \"TPR ACTIVE\", \"tprlevelimg\": \"http://2.imimg.com/data2/IJ/YL/MY-3920708/toilet-paper-rolls-250x250.jpg\", \"deviceName\": \"TpROLL\", \"deviceIP\": \"9.80.208.21\", \"lat\": 43.818442, \"lng\": -79.333965, \"ts\": 1465191891908, \"sine\": 97.92641007834484, \"cos\": 20.25878103854827, \"Desc\": \"TPRBean\" } }","payloadType":"json","repeat":"","crontab":"","once":true,"x":117,"y":417,"wires":[["79cebec.c9f254"]]},{"id":"79cebec.c9f254","type":"function","z":"9cce1980.944668","name":"Set TPR Active and Level","func":"context.global.tprleveltxt = msg.payload.d.tprleveltxt;\ncontext.global.tprmovetxt =  msg.payload.d.tprmovetxt;\n\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":349,"wires":[["ecf777b.1f84688"]]},{"id":"2ecf3702.24f208","type":"switch","z":"9cce1980.944668","name":"TPRLevel","property":"payload.d.tprlevel","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":330,"y":489,"wires":[["9355e830.2072b8"],["53145cad.a8ccd4"]]},{"id":"9355e830.2072b8","type":"function","z":"9cce1980.944668","name":"SetLevelText","func":"\nmsg.payload = msg.payload.d.tprleveltxt;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":486,"wires":[["bed3efb2.99b71","3082ed43.3a4402"]]},{"id":"3082ed43.3a4402","type":"debug","z":"9cce1980.944668","name":"TPRDEBUG","active":true,"console":"false","complete":"payload","x":674,"y":507,"wires":[]},{"id":"d7dfa672.a6b4b8","type":"debug","z":"9cce1980.944668","name":"IOTDEBUG","active":false,"console":"false","complete":"true","x":251,"y":300,"wires":[]},{"id":"bed3efb2.99b71","type":"delay","z":"9cce1980.944668","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"minutes","rate":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":684.5,"y":466,"wires":[["49e7fa8d.35dec4","5a178bb1.fad744"]]},{"id":"60a33e18.1941f","type":"delay","z":"9cce1980.944668","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"minutes","rate":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":703,"y":412,"wires":[["49e7fa8d.35dec4","5a178bb1.fad744"]]},{"id":"4946ecbf.674ea4","type":"watson-natural-language-classifier","z":"9cce1980.944668","name":"Classify","mode":"classify","language":"en","classifier":"2374f9x69-nlc-535","x":365,"y":807,"wires":[["28d9b87d.cf2e28"]]},{"id":"b9b8f9ea.494268","type":"debug","z":"9cce1980.944668","name":"ioTInput2","active":true,"console":"false","complete":"payload","x":576,"y":815,"wires":[]},{"id":"28d9b87d.cf2e28","type":"function","z":"9cce1980.944668","name":"WhichClass","func":"msg.payload = msg.payload.classes[0].class_name;\nreturn msg;","outputs":1,"noerr":0,"x":369.5,"y":767,"wires":[["b9b8f9ea.494268","e34e0cee.6dc2"]]},{"id":"b14977fd.204138","type":"debug","z":"9cce1980.944668","name":"WSOther","active":true,"console":"false","complete":"payload","x":470,"y":613,"wires":[]},{"id":"53145cad.a8ccd4","type":"function","z":"9cce1980.944668","name":"SetLevelTextGOoD","func":"\nmsg.payload = msg.payload.d.tprleveltxt;\nreturn msg;","outputs":1,"noerr":0,"x":519,"y":542,"wires":[["65dd11be.73822"]]},{"id":"65dd11be.73822","type":"delay","z":"9cce1980.944668","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"minutes","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":710,"y":541,"wires":[["49e7fa8d.35dec4","5a178bb1.fad744"]]},{"id":"ecf777b.1f84688","type":"delay","z":"9cce1980.944668","name":"UseToStop","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":345.5,"y":391,"wires":[["3f1b95df.4749ba"]]},{"id":"aa6056f7.276568","type":"inject","z":"9cce1980.944668","name":"","topic":"","payload":"What is the TPR status?","payloadType":"str","repeat":"","crontab":"","once":false,"x":196,"y":233,"wires":[["49e7fa8d.35dec4"]]},{"id":"55a373c2.3e57ac","type":"inject","z":"9cce1980.944668","name":"TPR in Use?","topic":"","payload":"Watson is the TPR in use?","payloadType":"str","repeat":"","crontab":"","once":false,"x":157,"y":212,"wires":[["49e7fa8d.35dec4"]]}]
